.editing-container {
  margin-top: 4rem !important;
  padding: 0 1rem;
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: end;
  // border: 1px solid red;
  // position: relative;
  .model {
    position: absolute;
    top: 18%;
    left: 88px;
    width: 300px;
    height: 530px;
    background: #fff;
    padding: 10px;
    z-index: 200 !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    .contain {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: 10px;
      .box {
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
      }
    }
  }
  .controlles {
    width: 85px;
    // border: 1px solid green;
    position: absolute;
    top: 18%;
    left: 0;
    height: 530px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    justify-content: space-between;

    gap: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    .controll {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      font-size: 30px;
      color: #3c4955;
      cursor: pointer;
      span {
        font-size: 12px !important;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }

  .wrapper {
    width: 70%;
    // border: 1px solid red;
    display: flex;
    justify-content: end;
    height: fit-content;
    // background: lightgray;

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px !important;
      // background: rgb(162, 162, 162);

      .tshirt-container {
        height: 595px;
        width: 600px;
        background: #fff;
        border-radius: 10px;
        // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden !important;
        padding: 20px;
        position: relative;
        // background: rgb(109, 109, 109);

        .img-container {
          width: 100%;
          height: 100%;
          padding: 1rem;
          position: relative;
          // background: rgb(74, 74, 74);
          img {
            object-fit: contain;
          }
          .drawingArea {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 10 !important;
            // background: rgb(54, 54, 54);
            canvas {
              // background: rgb(17, 17, 17);
              // z-index: -1000 !important;
            }
          }
        }
      }
      .btns {
        // margin-top: 2rem !important;
        display: flex;
        align-items: center;
        gap: 8px;
        .back,
        .front {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3px;
          button {
            background: #fff;
            border: 1px solid lightgrey;
            border-radius: 8px;
          }
        }
        button {
          width: 80px;
          aspect-ratio: 1;
        }
      }
    }
    .right {
      padding: 0 2rem;

      .top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .heading {
          font-size: 20px;
          font-weight: 600;
        }
        .desc {
          li {
            list-style: inside;
          }
        }
        .colors {
          button {
            cursor: pointer;
            border: none;
            outline: none;
          }
        }
        .quantity {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
              font-size: 20px;
              font-weight: 600;
            }
            p {
              font-size: 14px;
              font-weight: 400;
            }
          }
          .wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            .size-input {
              display: flex;
              flex-direction: column;

              label {
                display: flex;
                align-items: center;
                flex-direction: column;
                input {
                  padding: 0.5rem;
                  width: 70px;
                  border: 1px solid gray;
                  border-radius: 4px;
                  background: transparent;
                  font-size: 18px;
                }
              }
            }
          }
        }
        .price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            font-size: 18px;
            font-weight: 600;
          }
          p {
            color: #186f65;
            font-weight: 600;
            font-size: 18px;
          }
        }
        .add-cart {
          button {
            background: #186f65;
            color: #fff;
            padding: 1rem;
            width: 100%;
            border-radius: 5px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
