@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

/* Set Colors */
:root {
  --green-btn: #186f65;
  --footer-bg: #04364a;
}

body {
  background: #f8f8f8;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  position: relative;
  margin: 0 auto;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.home-container {
  min-height: 100vh;
}
